*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    font-size: 1.6em;
    color: #000;
}

body>section.perfil-advogado {
    width: 100%;
    height: 100vh;
    max-height: 998px;
    background-image: url(../util/img/8a697723-5156-4c22-8aef-d926b1e828f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body>.perfil-advogado>.img-advogado {
    width: 40%;
    height: 100%;
    margin-left: 3vw;
    display: flex;
    align-items: flex-end;
}

.img-advogado img {
    max-height: 97%;
    width: 444.5px;
}

body>.perfil-advogado>.informacoes-advogado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 45%;
    margin-right: 0;
    color: #fff;
    text-shadow: 3px 3px 4px #000;
}


body>.perfil-advogado h1 {
    font-size: 4.65vw;
    width: 99%;
    margin: 0;
    text-shadow: 4px 4px 3.5px #000;
    color: rgb(255, 255, 255);

}

body>.perfil-advogado p {
    width: 84%;
    font-size: 1.78vw;
    margin: 60px 0;
    color: #fff;
}

body>.perfil-advogado a,
.buttom-whats {
    background: linear-gradient(to right, rgba(199, 144, 41, 0.7) 30%,
            rgba(199, 144, 41, 0.79) 45%, rgba(199, 144, 41, 0.96) 75%);
    /* min-height: 80px; */
    width: 98%;
    max-width: 556px;
    height: 90px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: start; */
    font-size: 2.2vw;
    color: #fff;
    box-shadow: 3px 3px 12px 3px black;
    text-shadow: 1.5px 1.5px 0.3px black;
    border-radius: 45px;
    margin-top: 0;
    border: none;
    text-decoration: none;
    transition: 1s all;
}

body>.perfil-advogado a img {
    margin: 0 1vw;
    width: 5vw;
    filter: brightness(0) saturate(100%) invert(24%) sepia(83%) saturate(600%) hue-rotate(4deg) brightness(93%) contrast(97%);
}

body>.perfil-advogado a:hover,
.buttom-whats:hover {
    background-color: #c7902a;
    box-shadow: 7px 7px 9px 3px black;
    scale: 1.02;
}


/*area cards -----------------*/

main {
    background-color: #e7ecf1;
    display: flex;
    flex-direction: column;
}

main>div.icon-titulo img {
    width: 5.5vw;
    height: 5.5vw;
    margin-right: 1vw;
    filter: brightness(0) saturate(100%) invert(13%) sepia(5%) saturate(5068%) hue-rotate(180deg) brightness(91%) contrast(85%);
}

main>div.icon-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0px;
}

main>div.icon-titulo>h2 {
    text-align: center;
    font-size: 6.5vw;
    color: #242e3f;
    margin: 0px 0p;
    text-shadow: 4px 5px 7px rgba(36, 46, 63, 0.7);
}

main>hr {
    width: 40%;
    height: .02px;
    border-top: 1.85px solid rgba(199, 144, 41, 0.5);
    margin: 25px auto 35px;
}

main>.cards-sevico {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 0 20px;
}

main>.cards-sevico>.card-sevico {
    width: 26.5vw;
    min-width: 350px;
    min-height: 450px;
    margin: 25px 1px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px 25px 125px 25px;
    box-shadow: 8px 8px 15px 1px black;
    border: none;
    transition: 0.7s all;
}

main>.cards-sevico>.card-sevico:hover {
    transform: scale(1.09);
    background-color: rgba(255, 255, 255, 1);
    cursor: default;
}

main>.cards-sevico>.card-sevico img {
    height: 72px;
    width: 72px;
}

main>.cards-sevico>.card-sevico h3 {
    color: rgba(199, 144, 41, 0.9);
    font-size: 35px;
    margin: 8px 1px 10px;
    height: 95px;
    text-align: center;
    display: flex;
    align-items: center;
}

main>.cards-sevico>.card-sevico h3.titulo-imobiliar {
    font-size: 38px;
}

.cards-sevico>.card-sevico ul.list-imobiliar {
    height: 250px;
}

main>.cards-sevico>.card-sevico ul {
    height: 230px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

main>.cards-sevico>.card-sevico ul.list-imobiliar li {
    font-size: 22px;
}

main>.cards-sevico>.card-sevico ul li {
    font-size: 23.8px;
    text-align: start;
    margin: 5px 5px;
    padding: 0 25px;
    padding-left: 2px;
    list-style-type: disc;
    margin-left: 1.5em;

}

main>.cards-sevico>.card-sevico a {
    height: 76px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(199, 144, 41, 0.6) 25%,
            rgba(199, 144, 41, 0.78) 40%, rgb(199, 144, 41) 75%);
    padding: 8px;
    margin-bottom: 15px;
    text-decoration: none;
    border-radius: 50px;
    transition: .5s all;
    margin: 20px 1px;
}

main>.cards-sevico>.card-sevico a:hover {
    transform: scale(1.05);
}

main>.cards-sevico>.card-sevico a img {
    width: 27px;
    height: 27px;
}

main>.cards-sevico>.card-sevico>a p {
    font-size: 23px;
    width: 180px;
    text-align: center;
    padding: 0;
    color: rgba(72, 47, 0, 0.92);
    font-weight: bolder;
}

/* BOX-SOBRE */
main>section.box-sobre {
    background-color: rgb(36, 46, 63);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 755px;
}

main>section.box-sobre h4 {
    font-size: 58px;
    color: #e7ecf1;
    margin: 25px 0;
    text-align: center;
}

main>section.box-sobre .desc-sobre {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: #e7ecf1;
    width: 95%;
    height: 625px;
    margin-bottom: 30px;
    display: flex;

    border-radius: 20px;
}

main>section.box-sobre .desc-sobre div.div-p {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

main>section.box-sobre .desc-sobre div.div-p h3 {
    margin: 20px 0 1px 0;
    font-size: 47px;
    color: black;
    text-shadow: #000 1.5px 1px 3px;
}

main>section.box-sobre .desc-sobre div.div-p span {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 1px;
    color: rgb(210, 148, 34);
    /* position: relative;
    bottom: 90px;*/
}

main>section.box-sobre .desc-sobre p {
    font-size: 2.001vw;
    text-align: justify;
    padding: 0 2.5vw;
    color: #242e3f;
    margin-top: 10.8px;
}

main>section.box-sobre>.desc-sobre>div.div-p .buttom-whats {
    height: 80px;
    width: 70%;
    text-shadow: none;
    margin-top: .20vw;
    text-align: start;
    position: relative;
    top: 14px;
    font-size: 2.2vw;
}

main>section.box-sobre .desc-sobre div.div-p .buttom-whats img {
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 0 25px;
}


main>section.box-sobre .desc-sobre div.div-img {
    height: 100%;
    display: flex;
    align-items: end;
    background: linear-gradient(15deg, rgba(36, 46, 63, .3) 5%,
            rgba(36, 46, 63, .50)15%, rgba(36, 46, 63, .85)40%, rgba(36, 46, 63, .9944) 65%);

}


main>section.box-sobre .desc-sobre img {
    width: 354px;
    height: 604px;
    margin: 0 3.3vw;
}

/* Area do Endereço */
main>.endereco {
    background-color: rgb(231, 236, 241);
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

main>.endereco>h3 {
    color: white;
    font-size: 55px;
    margin: 25px 1px;
    color: black
}

main>.endereco>.mapa-conteudo {
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
}

main>.endereco>.mapa-conteudo iframe {
    border-radius: 50px 0 50px 0px;
    box-shadow: #000 8px 8px 30px 2px;

}

/* Area de Contato */
main>section.box-contato {
    font-size: 10px;
    height: 330px;
    background-color: rgb(36, 46, 63);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main>section.box-contato h4 {
    text-align: center;
    font-size: 55px;
    margin: 5px auto 35px auto;
    color: rgb(231, 236, 241);
}

main>section.box-contato .contato {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
    font-size: 16px;
    margin-bottom: 8px;
}

main>section.box-contato .contato address,
main>section.box-contato .contato a {
    font-size: 2.2vw;
    color: #fff;
    text-decoration: none;
}

main>section.box-contato .contato img {
    width: 35px;
    margin: 0px 15px;
    filter: brightness(0) saturate(100%) invert(93%) sepia(9%) saturate(5157%) hue-rotate(181deg) brightness(130%) contrast(88%);
}

main>section.box-contato .contato #instagram {
    filter: none;
}

/* Responsividade ------------------------------------------*/
@media (min-width:750.01px) and (max-width: 950px) {
    body>.perfil-advogado>.img-advogado {
        margin-left: -42px;
    }

    body>.perfil-advogado>.img-advogado img {
        width: 418.5px;
    }

    body>.perfil-advogado>.informacoes-advogado {
        position: relative;
        left: 0;
    }

    body>.perfil-advogado h1 {
        font-size: 4.6vw;
        width: 120%;
    }

    body>.perfil-advogado p {
        width: 90%;
        font-size: 2vw;
        margin: 60px 0;
    }

    body>.perfil-advogado a {
        height: 90px;
        width: 88%;
        max-width: 550px;
        padding: 10px;
        font-size: 2.2vw;
    }

    body>.perfil-advogado a img {
        width: 27px;
    }

    /* Are de cards */

    main div.icon-titulo {
        display: flex;
        flex-direction: column;
    }

    main>div.icon-titulo img {
        margin-top: 2vh;
        width: 8.2vw;
        height: 8.2vw;
        margin-right: 0;
    }


    main>div.icon-titulo>h2 {
        font-size: 8.3vw;
        margin: 5px 0 5px 0;
    }

    main>hr {
        margin-bottom: 10px;
    }

    main>.cards-sevico>.card-sevico ul li {
        margin-top: 18px;
    }

    main>.cards-sevico>.card-sevico ul,
    main>.cards-sevico>.card-sevico ul.list-imobiliar {
        min-height: 250px;
        height: auto;
    }

    /* box-sobre-*/
    main>section.box-sobre h4 {
        font-size: 54px;
    }

    main>section.box-sobre .desc-sobre div.div-p h3 {
        font-size: 47px;
    }

    main>section.box-sobre .desc-sobre div.div-p span {
        font-size: 32px;
        margin-bottom: 20px;
    }

    main>section.box-sobre .desc-sobre p {
        font-size: 2.28vw;
        padding: 0 2.8vw;
    }

    main>section.box-sobre>.desc-sobre>div.div-p .buttom-whats {
        width: 85%;
        font-size: 2.5vw;
    }

    main>section.box-sobre .desc-sobre div.div-p img {
        margin: 0 1.4vw 0 -0.3vw;
    }

    main>section.box-sobre .desc-sobre div.div-img img {
        width: 338px;
        height: 590px;
        margin: 0 2vw;
    }

    /* contato ---------------------------------*/
    main>section.box-contato h4 {
        font-size: 7.7vw;
        margin: 20px 0px 45px;
    }

    main>section.box-contato .contato img {
        width: 35px;
        margin: 0px 5px 0 -5px;
    }

    main>section.box-contato .contato address,
    main>section.box-contato .contato a {
        font-size: 4vw;
    }
}

/* ---------------------------------------------------*/
@media (max-width: 750px) {
    body>section.perfil-advogado {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 101vh;
        overflow: hidden;
    }

    body>.perfil-advogado>.img-advogado {
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img-advogado img {
        width: 55vw;
        min-width: none;
        min-width: 420px;
    }

    body>.perfil-advogado>.informacoes-advogado {
        width: 100%;
        background: rgba(36, 46, 63, 0.95);
        margin: 0;
        height: 1vh;
    }

    body>.perfil-advogado .informacoes-advogado h1 {
        font-size: 7.6vw;
        width: 89%;
        position: absolute;
        bottom: 200px;
        background-color: rgba(0, 0, 0, .01);
    }

    body>.perfil-advogado p {
        width: 70%;
        font-size: 3.8vw;
        margin: 50px 0;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 60px;
    }

    body>.perfil-advogado a {
        height: 70px;
        min-height: none;
        width: 85%;
        max-width: 550px;
        padding: 10px;
        margin: 0;
        font-size: 4vw;
        position: absolute;
        bottom: 16px;
    }

    body>.perfil-advogado a img {
        width: 27px;
    }



    /* Are de cards */

    main div.icon-titulo {
        display: flex;
        flex-direction: column;
    }

    main>div.icon-titulo img {
        margin-top: 2vh;
        width: 15.5vw;
        height: 15.5vw;
        margin-right: 0;
    }

    main>div.icon-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 38px 0 -5px;
    }

    main>div.icon-titulo>h2 {
        font-size: 12.5vw;
        margin: 10px 0 20px;
        width: 92vw;
    }

    main>hr {
        width: 63%;
        height: .01px;
        border-top: 1.45px solid rgba(199, 144, 41, 0.96);
        margin: 15px auto 25px;
    }


    main>.cards-sevico>.card-sevico {
        width: 40vw;
        min-width: 325px;
        min-height: none;
        min-height: 460px;
        margin: 25px 5px;
        padding: 0 5px;
        height: auto;
    }

    main>.cards-sevico>.card-sevico h3.titulo-imobiliar {
        font-size: 35px;
        padding: 0px 20px;
    }

    main>.cards-sevico>.card-sevico:hover {
        transform: scale(1.03);
    }

    /* .cards-sevico>.card-sevico ul.list-imobiliar */
    main>.cards-sevico>.card-sevico ul,
    .cards-sevico>.card-sevico ul.list-imobiliar {
        height: auto;
        min-height: 180px;
    }

    main>.cards-sevico>.card-sevico ul li {
        margin-top: 18px;
    }

    main>.cards-sevico>.card-sevico p {
        padding: 15px 25px;
    }

    /* BOX-SOBRE-------------------------------------------------------- */
    main>section.box-sobre {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        /* height: 1300px; */
    }

    main>section.box-sobre h4 {
        font-size: 10.5vw;
    }

    main>section.box-sobre .desc-sobre {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        height: 90%;
        margin-bottom: 30px;
    }

    main>section.box-sobre .desc-sobre div.div-p {
        height: 55%;
        display: flex;
        flex-direction: column;

    }

    main>section.box-sobre .desc-sobre div.div-p h3 {
        margin: 18px 0 1px 0;
        font-size: 12vw;
    }

    main>section.box-sobre .desc-sobre div.div-p span {
        font-size: 5.5vw;
        margin: 2px 0 15px 0;
    }

    main>section.box-sobre .desc-sobre p {
        font-size: 4.8vw;
        padding: 0 6.5vw;
        margin-top: 12.8px;
        line-height: 1.07;
    }

    main>section.box-sobre .desc-sobre div.div-p .buttom-whats img {
        margin: 0 3vw 0 1vw;
    }

    main>section.box-sobre>.desc-sobre>div.div-p .buttom-whats {
        width: 95%;
        position: relative;
        top: 1vw;
        font-size: 5vw;
        margin-top: 20px;
        margin-bottom: 30px;
        height: auto;
    }

    main>section.box-sobre .desc-sobre div.div-img {
        max-height: none;
        height: 610px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    main>section.box-sobre .desc-sobre img {
        width: 350px;
        height: 600px;
        margin: 0 0;
    }

    main>section.box-contato {
        margin: 0 0 0 0px;
    }


    main>section.box-contato h4 {
        font-size: 7.7vw;
        margin: 20px 0px 45px;
    }


    main>section.box-contato .contato address,
    main>section.box-contato .contato a {
        font-size: 4vw;
    }

    main>section.box-contato .contato img {
        width: 28px;
        margin: 0px 5px 0 -10px;
    }

    /* Endereço */
    main>.endereco {
        height: auto;
        padding: 20px 0;
    }

    main>.endereco>h3 {
        font-size: 11.5vw;
    }
}