*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    font-size: 1.6em;
    color: #000;
}

body>section.perfil-advogado {
    width: 100%;
    height: 100vh;
    max-height: 998px;
    background-image: url(../util/img/8a697723-5156-4c22-8aef-d926b1e828f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body>.perfil-advogado>.img-advogado {
    width: 40%;
    height: 100%;
    margin-left: 3vw;
    display: flex;
    align-items: flex-end;
}

.img-advogado img {
    max-height: 97%;
    width: 444.5px;
}

body>.perfil-advogado>.informacoes-advogado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 45%;
    margin-right: 0;
    color: #fff;
    text-shadow: 3px 3px 4px #000;
}


body>.perfil-advogado h1 {
    font-size: 4.513vw;
    width: 110%;
    margin: 0;
    text-shadow: 4px 4px 3.5px #000;
    color: rgb(255, 255, 255);

}

body>.perfil-advogado p {
    width: 84%;
    font-size: 1.78vw;
    margin: 60px 0;
    color: #fff;
}

body>.perfil-advogado a,
.buttom-whats {
    background: linear-gradient(to right, rgba(199, 144, 41, 0.65) 30%,
            rgba(199, 144, 41, 0.78) 45%, rgba(199, 144, 41, 0.95) 80%);
    /* min-height: 80px; */
    width: 98%;
    max-width: 557px;
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: 1.91vw;
    color: #fff;
    box-shadow: 3px 3px 12px 3px black;
    text-shadow: 1.5px 1.5px 0.3px black;
    border-radius: 45px;
    margin-top: 0;
    border: none;
    text-decoration: none;
    transition: 1s all;
}

body>.perfil-advogado a img {
    width: 36px;
    filter: brightness(0) saturate(100%) invert(24%) sepia(83%) saturate(600%) hue-rotate(4deg) brightness(93%) contrast(97%);
}

body>.perfil-advogado a:hover,
.buttom-whats:hover {
    background-color: #c7902a;
    box-shadow: 7px 7px 9px 3px black;
    scale: 1.02;
}


/*area cards -----------------*/

main {
    background-color: #e7ecf1;
    display: flex;
    flex-direction: column;
}

main>h2 {
    text-align: center;
    font-size: 90px;
    color: #242e3f;
    margin: 20px 0;
    text-shadow: 4px 5px 7px rgba(36, 46, 63, 0.7);
}

main>.cards-sevico {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main>.cards-sevico>.card-sevico {
    width: 26.5vw;
    min-width: 350px;
    min-height: 450px;
    margin: 25px 1px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px 25px 125px 25px;
    box-shadow: 8px 8px 15px 1px black;
    border: none;
    transition: 0.7s all;
}

main>.cards-sevico>.card-sevico:hover {
    transform: scale(1.09);
    background-color: rgba(255, 255, 255, 1);
    cursor: default;
}

main>.cards-sevico>.card-sevico img {
    height: 72px;
    width: 72px;
}

main>.cards-sevico>.card-sevico h3 {
    color: rgba(199, 144, 41, 0.9);
    font-size: 45px;
}

main>.cards-sevico>.card-sevico p {
    color: rgb(36, 46, 63);
    font-size: 23px;
    padding: 15px 50px;
}

main>.cards-sevico>.card-sevico a {
    height: 76px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(199, 144, 41, 0.6) 25%,
            rgba(199, 144, 41, 0.78) 40%, rgb(199, 144, 41) 75%);
    padding: 8px;
    margin-bottom: 15px;
    text-decoration: none;
    border-radius: 50px;
    transition: .5s all;
}

main>.cards-sevico>.card-sevico a:hover {
    transform: scale(1.05);
}

main>.cards-sevico>.card-sevico a img {
    width: 27px;
    height: 27px;
}

main>.cards-sevico>.card-sevico>a p {
    width: 180px;
    text-align: center;
    padding: 0;
    color: rgba(72, 47, 0, 0.92);
    font-weight: bolder;
}

/* BOX-SOBRE */
main>section.box-sobre {
    background-color: rgb(36, 46, 63);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 750px;
}

main>section.box-sobre h4 {
    font-size: 58px;
    color: #e7ecf1;
    margin: 25px 0;
    text-align: center;
}

main>section.box-sobre .desc-sobre {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: #e7ecf1;
    width: 95%;
    height: 608px;
    margin-bottom: 30px;
    display: flex;

    border-radius: 20px;
}

main>section.box-sobre .desc-sobre div.div-p {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

main>section.box-sobre .desc-sobre div.div-p h3 {
    margin: 20px 0 1px 0;
    font-size: 47px;
    color: black;
    text-shadow: #000 1.5px 1px 3px;
}

main>section.box-sobre .desc-sobre div.div-p span {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 1px;
    color: rgb(210, 148, 34);
    /* position: relative;
    bottom: 90px;*/
}

main>section.box-sobre .desc-sobre p {
    font-size: 2.6vw;
    text-align: center;
    padding: 0 2.5vw;
    color: #242e3f;
}

main>section.box-sobre .desc-sobre div.div-p img {
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 0 25px;
}

main>section.box-sobre>.desc-sobre>div.div-p .buttom-whats {
    height: 80px;
    width: 70%;
    text-shadow: none;
    margin-top: 30px;
    text-align: start;
    position: relative;
    top: 3vw;
    font-size: 2.2vw;
}

main>section.box-sobre .desc-sobre div.div-img {
    height: 100%;
    display: flex;
    align-items: end;
    background: linear-gradient(15deg, rgba(36, 46, 63, .3) 5%,
            rgba(36, 46, 63, .50)15%, rgba(36, 46, 63, .85)40%, rgba(36, 46, 63, .9944) 65%);

}


main>section.box-sobre .desc-sobre img {
    width: 354px;
    height: 604px;
    margin: 0 3.3vw;
}

/* Area do Endereço */
main>.endereco {
    background-color: rgb(231, 236, 241);
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

main>.endereco>h3 {
    color: white;
    font-size: 55px;
    margin: 25px 1px;
    color: black
}

main>.endereco>.mapa-conteudo {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

main>.endereco>.mapa-conteudo iframe {
    border-radius: 55px 0 55px 0px;
    box-shadow: #000 8px 8px 30px 2px;

}

/* Area de Contato */
main>section.box-contato {
    font-size: 10px;
    height: 300px;
    background-color: rgb(36, 46, 63);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main>section.box-contato h4 {
    text-align: center;
    font-size: 55px;
    margin: 5px auto 35px auto;
    color: rgb(231, 236, 241);
}

main>section.box-contato .contato {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
    font-size: 16px;
    margin-bottom: 8px;
}

main>section.box-contato .contato address,
main>section.box-contato .contato a {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

main>section.box-contato .contato img {
    width: 35px;
    margin: 0px 15px;
    filter: brightness(0) saturate(100%) invert(93%) sepia(9%) saturate(5157%) hue-rotate(181deg) brightness(130%) contrast(88%);
}

main>section.box-contato .contato #instagram {
    filter: none;
}

/* Responsividade ------------------------------------------*/
@media (min-width:750.01px) and (max-width: 950px) {
    body>.perfil-advogado>.img-advogado {
        margin-left: -42px;
    }

    body>.perfil-advogado>.img-advogado img {
        max-height: 97%;
        width: 418.5px;
    }

    body>.perfil-advogado>.informacoes-advogado {
        position: relative;
        left: 0;
    }

    body>.perfil-advogado h1 {
        font-size: 4.6vw;
        width: 120%;
        margin: 0;
    }

    body>.perfil-advogado p {
        width: 90%;
        font-size: 2vw;
        margin: 60px 0;
        color: rgb(255, 255, 255);
    }

    body>.perfil-advogado a {
        height: 90px;
        width: 88%;
        max-width: 550px;
        padding: 10px;
        font-size: 2.2vw;

    }

    body>.perfil-advogado a img {
        width: 27px;
    }

    /* box-sobre-*/
    main>section.box-sobre {}

    main>section.box-sobre h4 {
        font-size: 54px;
    }

    main>section.box-sobre .desc-sobre {}

    main>section.box-sobre .desc-sobre div.div-p {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }

    main>section.box-sobre .desc-sobre div.div-p h3 {
        font-size: 48px;
    }

    main>section.box-sobre .desc-sobre div.div-p span {
        font-size: 32px;
        margin-bottom: 20px;
    }

    main>section.box-sobre .desc-sobre p {
        font-size: 2.9vw;
        padding: 0 2.8vw;
    }

    main>section.box-sobre>.desc-sobre>div.div-p .buttom-whats {
        width: 85%;
        font-size: 2.5vw;
    }

    main>section.box-sobre .desc-sobre div.div-p img {

        margin: 0 1.4vw 0 -0.3vw;
    }


    main>section.box-sobre .desc-sobre div.div-img {}


    main>section.box-sobre .desc-sobre div.div-img img {
        width: 338px;
        height: 590px;
        margin: 0 2vw;
    }
}

@media (max-width: 750px) {
    body>section.perfil-advogado {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 101vh;
        overflow: hidden;
    }

    body>.perfil-advogado>.img-advogado {
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .img-advogado img {
        width: 55vw;
        min-width: none;
        min-width: 420px;
    }

    body>.perfil-advogado>.informacoes-advogado {
        width: 100%;
        background: rgba(36, 46, 63, 0.95);
        margin: 0;
        height: 14vh;

    }



    body>.perfil-advogado .informacoes-advogado h1 {
        font-size: 7.7vw;
        width: 89%;
        margin: 0;
        position: absolute;
        bottom: 215px;
        background-color: rgba(0, 0, 0, .01);
    }

    body>.perfil-advogado p {
        width: 70%;
        font-size: 3.4vw;
        margin: 50px 0;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 95px;
    }

    body>.perfil-advogado a {
        height: 70px;
        min-height: none;
        width: 85%;
        max-width: 550px;
        padding: 10px;
        margin: 0;

        font-size: 4vw;
        position: absolute;
        bottom: 18px;
    }

    body>.perfil-advogado a img {
        width: 27px;
    }

    /* card */
    main>h2 {
        font-size: 60px;
    }


    /* BOX-SOBRE-------------------------------------------------------- */
    main>section.box-sobre {

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 1300px;
    }

    main>section.box-sobre h4 {
        font-size: 10.5vw;

    }

    main>section.box-sobre .desc-sobre {
        display: flex;
        flex-direction: column-reverse;

        width: 95%;
        height: 85%;
        margin-bottom: 30px;

    }

    main>section.box-sobre .desc-sobre div.div-p {
        height: 55%;
        display: flex;
        flex-direction: column;

    }

    main>section.box-sobre .desc-sobre div.div-p h3 {
        margin: 20px 0 1px 0;
        font-size: 49px;
    }

    main>section.box-sobre .desc-sobre div.div-p span {
        font-size: 35px;
        margin-bottom: 40px;
        margin-top: 1px;
        /* position: relative;
    bottom: 90px;*/
    }

    main>section.box-sobre .desc-sobre p {
        font-size: 4.8vw;
        text-align: center;
        padding: 0 2.5vw;
        color: #242e3f;
    }

    main>section.box-sobre .desc-sobre div.div-p img {
        width: 27px;
        height: 27px;
        padding: 0;
        margin: 0 15px;
    }

    main>section.box-sobre>.desc-sobre>div.div-p .buttom-whats {
        height: 80px;
        width: 85%;
        text-shadow: none;
        /* text-align: start; */
        position: relative;
        top: 3vw;
        font-size: 4.8vw;
    }

    main>section.box-sobre .desc-sobre div.div-img {
        max-height: none;
        height: 610px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;

    }

    main>section.box-sobre .desc-sobre img {
        width: 354px;
        height: 604px;
        margin: 0 0;
    }
}